<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @flats.each do |flat| %>
      <div class="col">
        <div class="card-flat">
          <%= cl_image_tag flat.photo.key %>
          <div class="card-flat-infos">
            <div>
              <%= link_to flat_path(flat) do %>
                <h3><%= flat.title %></h3>
              <% end %>
              <h2><%= flat.city %></h2>
              <p><%= flat.description %></p>
              <p>Bedrooms: <%= flat.bedrooms %></p>
              <p>Number of guests: <%= flat.number_of_guests %></p>
              <p><%= flat.user.first_name %></p>
              <p><%= "â­ï¸" * flat.rating %></p>
            </div>
            <h2 class="card-flat-pricing">$<%= flat.price_per_night %></h2>
            <% if flat.user.avatar.attached? %>
              <%= cl_image_tag flat.user.avatar.key, class: "card-flat-user avatar-bordered" %>
            <% else %>
              <%= image_tag "user.png", class: "card-flat-user avatar-bordered" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
