<div class="container">
  <div class="row align-items-center m-1">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="card-flat p-3 m-2">
        <%= cl_image_tag @flat.photo.key %>
        <div class="card-flat-infos">
          <div>
            <h3><%= @flat.title %></h3>
            <h2><%= @flat.city %></h2>
            <p><%= @flat.description %></p>
            <p>Bedrooms: <%= @flat.bedrooms %></p>
            <p>Number of guests: <%= @flat.number_of_guests %></p>
            <p><%= @flat.user.first_name %></p>
            <p><%= "⭐️" * @flat.rating %></p>
          </div>
          <h2 class="card-flat-pricing">€ <%= @flat.price_per_night %> night</h2>
          <% if @flat.user.avatar.attached? %>
            <%= cl_image_tag @flat.user.avatar.key, class: "card-flat-user avatar-bordered" %>
          <% else %>
            <%= image_tag "user.png", class: "card-flat-user avatar-bordered" %>
          <% end %>
        </div>
        <div class="row">
          <% if policy(@flat).edit? %>
            <div class="col col-3 col-md-2">
              <%= link_to "Edit", edit_flat_path(@flat), class: "btn btn-ghost" %>
            </div>
          <% end %>
          <% if policy(@flat).destroy? %>
            <div class="col col-3 col-md-2">
              <%= link_to "Delete", flat_path(@flat), class: "btn btn-ghost", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <div class="card-flat p-3 m-2">
        <div style="width: 100%; height: 400px; margin: 3px"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
    <div class="row align-items-center m-4">
      <div class="col-12 col-md-12 col-lg-6 card-flat p-3 m-2 mx-auto">
        <%= render 'bookings/form', flat: @flat, booking: @booking %>
      </div>
    </div>
  <br>
  <br>
  <hr>
  <% if policy(@flat).destroy? %>
    <h2>Bookings</h2>
    <% @flat.bookings.each do |booking| %>
      <div class="card-guest m-4">
        <% if booking.user.avatar.attached? %>
          <%= cl_image_tag booking.user.avatar.key%>
          <% else %>
          <%= image_tag "user.png" %>
        <% end %>
        <div class="card-guest-infos">
          <h2><%= booking.user.first_name %></h2>
          <% if booking.approve %>
            <p>This booking was approved</p>
            <% else %>
            This booking is pending your approve <%= link_to "Approve booking", approve_path(@flat, booking), class: "btn btn-flat", data: {turbo_method: :approve, turbo_confirm: "Are you sure you want to approve?"} %>
          <% end %>
          <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
          <p>Number of guests: <%= booking.number_of_guests %></p>
          <p>Details: <%= booking.details %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
