<h2><%= link_to "Flats", flats_path %></h2>
<h2><%= link_to "New flat", new_flat_path %></h2>
<%= @flat.title %>
<%= @flat.city %>
<%= @flat.description %>
<%= @flat.bedrooms %>
<%= @flat.number_of_guests %>
<%= @flat.price_per_night %>
<%= @flat.rating %>
<%= @flat.user.first_name %>

<p><%= link_to "Edit", edit_flat_path(@flat) %></p>
<p><%= link_to "Delete", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
<p><%= @flat.title %></p>
