<div class="container">
  <div class="card-flat p-2">
    <%= cl_image_tag @flat.photo.key %>
    <div class="card-flat-infos">
      <div>
        <h3><%= @flat.title %></h3>
        <h2><%= @flat.city %></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4 col-md-6">
        <%= simple_form_for [@flat, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :number_of_guests %>
          <%= f.input :details %>
          <%= f.submit "Book", class: "btn btn-flat", style: "width: 100%" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
